<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Creator</th>
            <th scope="col">Name</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of inventory">
            <td>{{item.creator}}</td>
            <td>{{item.name}}</td>
        </tr>
    </tbody>
    <div class="row text-center" *ngIf="!isLoaded">
        <div class="col-12">
            <img src="../../assets/feladat6-loading.gif" alt="Loading">
        </div>
    </div>
</table>