<div class="row">
    <div class="col-12">
        <h2>About our store</h2>
        <p>The store was founded in 2011, and since then it won the “Best Plushie Store” award every year.</p>
    </div>
</div>
<div class="row text-center">
    <div class="col-12">
        <img src="../../assets/feladat2.png" alt="Best Plushie Store award">
    </div>
</div>
<div class="row">
    <div class="col-12">
        <h2>Famous plushies</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-4 col-12">
        <div class="card">
            <div class="card-body">
                <h3>Daniel the Dinosaur</h3>
                <p>A large dinosaur by famous plushie maker John Plush.</p>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-12">
        <div class="card">
            <div class="card-body">
                <h3>Ted</h3>
                <p>The first life-sized teddy bear in the country.</p>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-12">
        <div class="card">
            <div class="card-body">
                <h3>Coffee Cat</h3>
                <p>A controversial plushie that promoted drinking coffee to aid web development.</p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <h2>Provide feedback</h2>
        <form>
            <div class="mb-3">
                <label for="inputEmail" class="form-label">Email</label>
                <input type="email" class="form-control" id="inputEmail">
            </div>
            <div class="mb-3">
                <label for="feedbackText" class="form-label">Feedback</label>
                <textarea name="feedbackText" id="feedbackText" cols="30" rows="5" class="form-control"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>